@model Quality.WebApp.HomePMViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="titleProductionArea">Gestion PM</h2>


<div class="row">
    <div class="col-md-3 wrapperMenuPm">
        @Html.ActionLink("Encodage Bon NC", "TicketNC", "PM", null, new { @class = "btn btn-primary btn-action" })
        @Html.ActionLink("CQ avec imputation fournisseur", "H", "PM", null, new { @class = "btn btn-primary btn-action" })
        @Html.ActionLink("Réception ZE", "TicketNC", "ExpertReception", null, new { @class = "btn btn-primary btn-action" })
        @Html.ActionLink("Expertise ZE", "TicketNC", "ExpertiseAnalyse", null, new { @class = "btn btn-primary btn-action" })
    </div>
    <div class=" col-md-9">
        <table id="table_id" class="display compact">
            <thead>
                <tr>
                    <th>Bon NC</th>
                    <th>Date d'encodage</th>
                    <th>Code produit</th>
                    <th>N° Bobine</th>
                    <th>Nbr</th>
                </tr>
            </thead>
            <tbody>
                @foreach (AnomalyViewModel currentAnomaly in Model.AnomalyCollection.Where(a=>a.TicketNC!=null))
                {
                    <tr>
                        <td>@currentAnomaly.TicketNC.TicketNCId</td>
                        <td>@(currentAnomaly.TicketNC.CreationDate.HasValue ? currentAnomaly.TicketNC.CreationDate.Value.ToString("dd/MM/yyyy HH:mm") : "")</td>
                        <td>@currentAnomaly.TicketNC.ProductCodeName</td>
                        <td>@currentAnomaly.TicketNC.Order</td>
                        <td>@currentAnomaly.TicketNC.Quantity @currentAnomaly.TicketNC.UnitName.ToLower()</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table_id').DataTable({
                "language": {
                    "url": '@Url.Content("~/Scripts/French.json")'
                },
                "responsive": true,
                "lengthChange": false
            });
        });
    </script>
}
